{% extends "index.html" %}
{% block Header %}
{% endblock %}
{% block Services %}
{% endblock %}
{% block Portfolio %}
 <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-2">
<form>
  <div class="form-group">
    <label for="firstname">firstname</label>
    <input type="text" class="form-control" id="projName" name="firstname" placeholder="Firstname">
  </div>
  <div class="form-group">
    <label for="Lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="email">
  </div>
     <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
  </div>
  <div class="form-group">
    <label for="key">Public Key</label>
    <input type="text" class="form-control" id="publickey" name="publickey" placeholder="Public Key">
  </div>
    <center><button type="submit" class="btn btn-success">Donate</button></center>
  </div>
</form>	
</div>
</div>
</div>

{% endblock %}
{% block Team %}
{% endblock %}
{% block Clients %}
{% endblock %}
{% block Contact %}
{% endblock %}
